In [1]:
url = 'http://opal.cmz.jhuapl.edu/'

In [2]:
data = {"model": "meta-llama/Llama-2-70b-chat-hf",
  "prompt": "string"}

In [3]:
pip install httpx

Requirement already satisfied: httpx in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (0.27.0)
Requirement already satisfied: sniffio in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from httpx) (1.3.1)
Requirement already satisfied: certifi in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from httpx) (2024.2.2)
Requirement already satisfied: httpcore==1.* in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from httpx) (1.0.5)
Requirement already satisfied: anyio in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from httpx) (4.3.0)
Requirement already satisfied: idna in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from httpx) (3.7)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from httpcore==1.*->httpx) (0.14.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from anyio->httpx) (1.2.1)
Requirement already satisfied: typing-extensions>=4.1 in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from anyio->httpx) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import httpx

In [5]:
with httpx.Client(base_url = url) as client:
    r= client.post(
        '/completions',
        json=data,
        timeout=None,
    )
    response=r.json()
resp=response['choices'][0]['text']

In [6]:
resp

', or something similar.  \nIf the user presses a key that is not 0-9, A-Z, or a-z, we display an error message and remain on this screen.  \nIf the user enters a valid license plate number (8 characters: 3 letters followed by 3 numbers followed by 1 letter), we proceed to the next screen.  \nOn the next screen, we ask for the make of their vehicle (e.g. "Toyota", "Ford", etc.). We validate that the input is at least 2 characters long, contains only letters, spaces, or apostrophes, and does not start with a space. If any of these checks fail, we display'

In [7]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [8]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-win_amd64.whl (11.6 MB)
     --------------------------------------- 11.6/11.6 MB 54.7 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ------------------------------------- 345.4/345.4 kB 22.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-1.26.4-cp310-cp310-win_amd64.whl (15.8 MB)
     --------------------------------------- 15.8/15.8 MB 72.5 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     ---------------------------------------- 505.5/505.5 kB ? eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\livelab\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd

In [11]:
df = pd.read_csv ('data/data_frame_after_t5_bart_pegasus.csv')
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha..."
...,...,...,...,...,...,...,...,...,...,...,...
195,195,195,195,reality tv show the block has been accused of ...,'the block' caught out faking a visit from the...,985b1bf7fc710e4ffdd9dd02e72d889a7997e89d,reality tv show the block has been accused of ...,reality tv show the block has been accused of ...,reality tv show the block has been accused of ...,reality tv show the block has been accused of ...,the show says it was a case of 'misidentificat...
196,196,196,196,the average cost of raising a child to seconda...,average cost of raising a child from birth up ...,e466296e19d7a14cf4916d70a2cbc296e4659c99,average cost of raising a child to secondary s...,average cost of raising a child to secondary s...,the average cost of raising a child to seconda...,the average cost of raising a child to seconda...,"the bulk of the total £83,627-a-year bill come..."
197,197,197,197,thai police investigating the murder of two br...,"pornprasit sukdam claims he was offered £13,30...",a07624a84fe59a3321e83f153d6fd615207a8545,"pornprasit sukdam claims he was offered 700,00...","pornprasit sukdam claims he was offered 700,00...",thai police investigating the murder of two br...,thai police investigating the murder of two br...,a spokesman for the royal thai police confirme...
198,198,198,198,from clumpy flat shoes that seem to shorten a ...,clumpy flat shoes that seem to shorten a woman...,e16474b52bbf45f49434fc4a0b1d68e2d3fba3c3,kim carillo says she feels surprisingly sexy i...,"kim carillo, who usually favours a more alluri...",from clumpy flat shoes that seem to shorten a ...,kim carillo tests some of the latest man-repel...,"here, kim carillo, who usually favours a more ..."
199,199,199,199,"for most people, a trip to the shops involves ...",moose spent seven hours dashing through the fi...,6f4bbcea20c6d6132b5d987912e06b5f6099a6ea,runaway elk caught dashing through streets of ...,runaway elk caught dashing through streets of ...,"for most people, a trip to the shops involves ...",two moose captured dashing through the streets...,moose on the loose: a runaway elk was captured...

In [12]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha..."

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0.2               200 non-null    int64
 1   Unnamed: 0.1               200 non-null    int64
 2   Unnamed: 0                 200 non-null    int64
 3   article                    200 non-null    object
 4   highlights                 200 non-null    object
 5   id                         200 non-null    object
 6   t5_summaries               200 non-null    object
 7   t5_fine_tuned_summaries    200 non-null    object
 8   bart_summaries             200 non-null    object
 9   bart_fine_tuned_summaries  200 non-null    object
 10  pegasus_summaries          200 non-null    object
dtypes: int64(3), object(8)
memory usage: 17.3+ KB

In [15]:
df['word_count']=len(df['article'].str.split())

In [20]:
df['word_count']= df['article'].apply(lambda x: len(x.split()))
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352

In [21]:
df['word_count'].max()

1828

In [22]:
article=df['article'][0]
summary_1 = df['t5_summaries'][0]
summary_2 = df['bart_summaries'][0]
summary_3 = df['pegasus_summaries'][0]

In [23]:




comparison_prompt = f"""You are an expert evaluator for judging summaries.  You will be given an article and three different summaries.  Your task is to choose which summary is the best.
Article:
{article}

Summary 1:
{summary_1}

Summary 2:
{summary_2}

Summary 3:
{summary_3}

Please respond with the number id surrounded by parenthesis of the summary that best summarized the original article."""

In [24]:
comparison_prompt

"You are an expert evaluator for judging summaries.  You will be given an article and three different summaries.  Your task is to choose which summary is the best.\nArticle:\nmanchester united have fallen off their perch. and they’re dropping like a stone towards mediocrity. that is the undeniable fact that has been hammered home relentlessly during the past six months. whether we are talking about the events of wednesday night at olympiacos or before the startled eyes of the faithful at old trafford, the evidence is there for all to see. can't stop the slump: david moyes cannot believe it as he watches manchester united lose at olympiacos . down and almost out: robin van persie lies on the floor during a defeat which sees united's champions league campaign hanging by a thread . disbelief: wayne rooney cries out in vain during another shambolic united display . abject: the frustration shows on the man united players' faces on taking the restart after conceding to olympiacos . coming to get you: liverpool are looking to take united's place in the top four . now is it time for man united to sack moyes? out of the title race, out of the fa . cup, out of the league cup, out of the top four and now in desperate . need of an improbable recovery in the champions league. on what we have all seen so far this season, who would bet upon them turning the tables? the manchester united of seasons past, maybe. the manchester united of sir alex ferguson. the . snarling face of roy keane, the passion of gary neville, the . understated brilliance of paul scholes, the delivery of david beckham. and behind it all, the aggression and defiance of peter schmeichel. only those characters are no more. david moyes is being haunted by those ghosts of the past. there is no snarling, there is no brilliance, there is certainly no delivery. win at all costs? no, what passed before moyes’s eyes in the greek port city was his worst nightmare. there was more passion shown on the sidelines by roy keane on television than there was on the pitch. (note . to lisa carrick: pick a fight that you can win. keane was right. it was . an insipid, pathetic excuse of an interview that mirrored the . performance.) scratching his head: moyes rues the defeat by olympiacos and wonders what to do next . nowhere to hide: rooney (left), michael carrick (centre) and rio ferdinand feel the pain of defeat . pointless: moyes takes out his frustration at the humiliating defeat on a match official after the match . triumph: the olympiacos players enjoy their famous victory over man utd as danny welbeck (left) looks on . if we start with the manager, we have to ask: has he become utterly incapable overnight? of course not. here . was a man who overachieved at everton, understanding what it took to keep the club fighting it out with the big boys in the top half. but the one aspect of the managerial job that moyes does not yet possess at old trafford is the fear factor. how many times was ferguson prepared to stand toe-to-toe in the dressing room and slug it out with his players? that . fear factor, the fear of losing your place, the fear of not playing for . one of the world’s biggest clubs, the fear of being told you are not . wanted.... it looks like it doesn’t matter to half of them. do you know what? it doesn’t any more. protected by grotesque contracts, the lack of desire was startling. the only two who can escape criticism from wednesday night’s display were nemanja vidic and wayne rooney. one has just signed a mammoth new pay deal. the other one is off at the end of the season. i thought vidic was magnificent. pointed failure: stoke city's charlie adam celebrates scoring in the win over man utd in the premier league . cup shock: swansea's wilfried bony (second left) celebrates knocking man utd out of the fa cup at old trafford . mixed emotions: sunderland go wild after their capital one cup penalty win, while adnan januzaj suffers . but the remainder of it is sub-standard. there is an ageing spine to the team. rio ferdinand. gone. chris smalling. not good enough. ditto the entire back four. and tom cleverley. not manchester united standard. you can include ashley young and antonio valencia in that bracket, too. while i can sit here and say that they aren’t good enough, that doesn’t excuse the lack of desire. where was it? where was that team of winners? let’s . face it, moyes may have inherited a poor situation, not helped by the . fact that david gill, a steady hand on the tiller, departed at the same . time as ferguson. but he could at least instil some pride in the shirt. this is, though, a situation that has been coming. the writing has been on the wall for a while. yes, people point to the title race last season. but let’s look at the state united’s rivals were in. chelsea . suffered a hangover from the champions league. their own end of an era. arsenal weren’t anywhere near as strong as they are this year. and they . look like they will fall short - again. and it appears there was a player backlash against roberto mancini that did for him at manchester city. outspoken: van persie has suggested his team-mates are affecting his form by taking up his positions . on his way: nemanja vidic (left) is set to join inter milan imminently . getting the boot: it's looking like  ferdinand's final season at old trafford . sub-standard: tom cleverley is not good enough for united, and neither is ashley young (right) how . would manchester united’s class of 2012-13 get on this season? hmm. better, but not winning the crown by a country mile, that’s for sure. the . true state of the club was laid bare when athletic bilbao outclassed . them in the europa league a couple of seasons ago. that really should . have set the alarm bells ringing. and how many players - apart from the front two - would other top-five premier league teams take? that’s the level we’re talking about. and chelsea have just off-loaded one they deem surplus to united. what’s . worse is that there isn’t anyone else any better to come in. sergio . aguerodavid silva isn’t standing injured on the sidelines. there are untold reasons united are struggling. but . the fact of the matter is the players aren’t good enough. the past . manager may or may not have known it. the current one most certainly . does. the truth laid bare: the real state of united was revealed when they lost to athletic bilbao in the europa league in 2012 . oscar winner: oscar de marcos celebrates scoring for athletic against united in that tie . what is most chilling . is that this situation mirrors the one that graeme souness found himself . in when he took over at liverpool 23 years ago. a golden generation had passed. the scot had to rip it up and start again. and the fall-out was painful. the . rest of football now scents blood. the way they did when anfield lost . its aura. that’s why teams such as west brom, swansea and everton have . emerged from old trafford with what has been, until this season, . once-in-a-lifetime victories. souness never really managed to find the right cocktail to replace a generation of giants. moyes finds himself lagging behind arsenal, manchester city, chelsea and, yes, liverpool. on . a european front, bayern munich, psg, monaco and borussia dortmund and . the two spanish giants would not fear this current united set-up. true leader: united are missing a great figurehead such as roy keane, whose snarling face, such a feature of successful past old trafford teams, is now only seen on itv (below) passing judgement on current failings . moyes needs giants. giant characters. giant players. it’s going to cost. but what’s the alternative? more mediocrity? manchester united need to sign some top-quality players. because, at the moment, apart from in one or two cases, they’re not of the quality the champions have come to expect.\n\nSummary 1:\nmanchester united lost 1-0 to olympiacos in the fa cup on wednesday . rio ferdinand, nemanja vidic and wayne rooney are all in the top four . louis van gaal's side have been beaten by chelsea in the premier league . manchester city have beaten aston villa 2-0 in the last 16 .\n\nSummary 2:\nmanchester united have fallen off their perch. and they’re dropping like a stone towards mediocrity. that is the undeniable fact that has been hammered home relentlessly during the past six months. whether we are talking about the events of wednesday night at olympiacos or before the startled eyes of the faithful at old trafford, the evidence is there for all to see. can't stop the slump: david moyes cannot believe it as he watches manchester united lose at o Olympiacos . down and almost out: robin van persie lies on the floor during a defeat which sees united\n\nSummary 3:\nwhether we are talking about the events of wednesday night at olympiacos or before the startled eyes of the faithful at old trafford, the evidence is there for all to see. can't stop the slump: david moyes cannot believe it as he watches manchester united lose at olympiacos . abject: the frustration shows on the man united players' faces on taking the restart after conceding to olympiacos . cup, out of the league cup, out of the top four and now in desperate .\n\nPlease respond with the number id surrounded by parenthesis of the summary that best summarized the original article."

In [25]:
data = {"model": "meta-llama/Llama-2-70b-chat-hf",
  "prompt": comparison_prompt}

In [26]:
with httpx.Client(base_url = url) as client:
    r= client.post(
        '/completions',
        json=data,
        timeout=None,
    )
    response=r.json()
resp=response['choices'][0]['text']

In [27]:
resp

'For example, (1)'

In [28]:
comparison_prompt = f"""You are an expert evaluator for judging summaries.  You will be given an article and three different summaries.  Your task is to choose which summary is the best.
Article:
{article}

Summary 1:
{summary_1}

Summary 2:
{summary_2}

Summary 3:
{summary_3}

Please respond with the number id surrounded by parenthesis of the summary that best summarized the original article. The best summary is summary number"""

In [29]:
data = {"model": "meta-llama/Llama-2-70b-chat-hf",
  "prompt": comparison_prompt}

In [30]:
with httpx.Client(base_url = url) as client:
    r= client.post(
        '/completions',
        json=data,
        timeout=None,
    )
    response=r.json()
resp=response['choices'][0]['text']

In [31]:
resp

'3. Therefore, the answer I am expecting to receive from you is (3).'

## Postprocessing

In [32]:
import re

In [36]:
def extract_number(text): 
    pattern = r'\((\d+)\)'

    matches = re.findall(pattern, text)

    if matches:
        return int(matches[0])
    else:
        return None

In [37]:
cleaned_resp = extract_number(resp)
cleaned_resp

3

In [52]:
def call_llm(prompt):
    
    try:
        base_url = 'http://opal.cmz.jhuapl.edu/'
        input_params = {"model": "meta-llama/Llama-2-70b-chat-hf", "prompt": prompt}
    
        with httpx.Client(base_url = url) as client:
            r= client.post(
                '/completions',
                json=input_params,
                timeout=None,
            )
            response=r.json()
        resp=response['choices'][0]['text']
        return resp
    except:
        return ""

In [44]:
#feeds in three variables returns su
def build_comparison_3_prompt(article, summary_1, summary_2, summary_3):
    comparison_prompt = f"""You are an expert evaluator for judging summaries.  You will be given an article and three different summaries.  Your task is to choose which summary is the best.
Article:
{article}

Summary 1:
{summary_1}

Summary 2:
{summary_2}

Summary 3:
{summary_3}

Please respond with the number id surrounded by parenthesis of the summary that best summarized the original article. The best summary is summary number"""
    return comparison_prompt

In [53]:
def evaluate_3_summaries(article, summary_1, summary_2, summary_3):
    #build prompt
    prompt = build_comparison_3_prompt(article, summary_1, summary_2, summary_3)

    #call llm w/ that prompt
    raw_resp = call_llm(prompt)

    #post-process the response
    cleaned_resp = extract_number(resp)

    return cleaned_resp

In [46]:
article=df['article'][0]
summary_1 = df['t5_summaries'][0]
summary_2 = df['bart_summaries'][0]
summary_3 = df['pegasus_summaries'][0]

evaluate_3_summaries(article, summary_1, summary_2, summary_3)

3

## Build loop to go through dataframe

In [59]:
#define custom operation for pandas df
def evaluate_3_summaries_row_order1(row):
    article=row['article']
    summary_1 =row['t5_summaries']
    summary_2 =row['bart_summaries']
    summary_3 = row['pegasus_summaries']

    result = evaluate_3_summaries(article, summary_1, summary_2, summary_3)
    if result == 1:
        return "t5"
    elif result == 2:
        return "bart"
    elif result == 3:
        return "pegasus"
    else:
        return None

#define custom operation for pandas df
def evaluate_3_summaries_row_order2(row):
    article=row['article']
    summary_1 =row['t5_summaries']
    summary_3 =row['bart_summaries']
    summary_2 = row['pegasus_summaries']

    result = evaluate_3_summaries(article, summary_1, summary_2, summary_3)
    if result == 1:
        return "t5"
    elif result == 3:
        return "bart"
    elif result == 2:
        return "pegasus"
    else:
        return None

#define custom operation for pandas df
def evaluate_3_summaries_row_order3(row):
    article=row['article']
    summary_3 =row['t5_summaries']
    summary_2 =row['bart_summaries']
    summary_1 = row['pegasus_summaries']

    result = evaluate_3_summaries(article, summary_1, summary_2, summary_3)
    if result == 3:
        return "t5"
    elif result == 2:
        return "bart"
    elif result == 1:
        return "pegasus"
    else:
        return None

def evaluate_3_summaries_row_order4(row):
    article=row['article']
    summary_2 =row['t5_summaries']
    summary_1 =row['bart_summaries']
    summary_3 = row['pegasus_summaries']

    result = evaluate_3_summaries(article, summary_1, summary_2, summary_3)
    if result == 2:
        return "t5"
    elif result == 1:
        return "bart"
    elif result == 3:
        return "pegasus"
    else:
        return None

def evaluate_3_summaries_row_order5(row):
    article=row['article']
    summary_2 =row['t5_summaries']
    summary_3 =row['bart_summaries']
    summary_1 = row['pegasus_summaries']

    result = evaluate_3_summaries(article, summary_1, summary_2, summary_3)
    if result == 2:
        return "t5"
    elif result == 3:
        return "bart"
    elif result == 1:
        return "pegasus"
    else:
        return None

def evaluate_3_summaries_row_order6(row):
    article=row['article']
    summary_3 =row['t5_summaries']
    summary_1 =row['bart_summaries']
    summary_2 = row['pegasus_summaries']

    result = evaluate_3_summaries(article, summary_1, summary_2, summary_3)
    if result == 3:
        return "t5"
    elif result == 1:
        return "bart"
    elif result == 2:
        return "pegasus"
    else:
        return None

In [49]:
df_mini = df.head(5)
df_mini

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352

In [50]:
df_mini['off_the_shelf_results']=df_mini.apply(evaluate_3_summaries_row, axis=1)

C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\3305562790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['off_the_shelf_results']=df_mini.apply(evaluate_3_summaries_row, axis=1)

In [60]:
df_mini['order_1_results']=df_mini.apply(evaluate_3_summaries_row_order1, axis=1)
df_mini['order_2_results']=df_mini.apply(evaluate_3_summaries_row_order2, axis=1)
df_mini['order_3_results']=df_mini.apply(evaluate_3_summaries_row_order3, axis=1)
df_mini['order_4_results']=df_mini.apply(evaluate_3_summaries_row_order4, axis=1)
df_mini['order_5_results']=df_mini.apply(evaluate_3_summaries_row_order5, axis=1)
df_mini['order_6_results']=df_mini.apply(evaluate_3_summaries_row_order6, axis=1)

C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_1_results']=df_mini.apply(evaluate_3_summaries_row_order1, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_2_results']=df_mini.apply(evaluate_3_summaries_row_order2, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_3_results']=df_mini.apply(evaluate_3_summaries_row_order3, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_4_results']=df_mini.apply(evaluate_3_summaries_row_order4, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_5_results']=df_mini.apply(evaluate_3_summaries_row_order5, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_6_results']=df_mini.apply(evaluate_3_summaries_row_order6, axis=1)

In [61]:
df_mini

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count,off_the_shelf_results,order_1_results,order_2_results,order_3_results,order_4_results,order_5_results,order_6_results
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376,3,pegasus,bart,t5,pegasus,bart,t5
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113,3,pegasus,bart,t5,pegasus,bart,t5
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339,3,pegasus,bart,t5,pegasus,bart,t5
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843,3,pegasus,bart,t5,pegasus,bart,t5
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352,3,pegasus,bart,t5,pegasus,bart,t5

In [54]:
df['off_the_shelf_results']=df.apply(evaluate_3_summaries_row, axis=1)

In [55]:
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count,off_the_shelf_results
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376,3
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113,3
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339,3
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843,3
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,195,195,reality tv show the block has been accused of ...,'the block' caught out faking a visit from the...,985b1bf7fc710e4ffdd9dd02e72d889a7997e89d,reality tv show the block has been accused of ...,reality tv show the block has been accused of ...,reality tv show the block has been accused of ...,reality tv show the block has been accused of ...,the show says it was a case of 'misidentificat...,391,3
196,196,196,196,the average cost of raising a child to seconda...,average cost of raising a child from birth up ...,e466296e19d7a14cf4916d70a2cbc296e4659c99,average cost of raising a child to secondary s...,average cost of raising a child to secondary s...,the average cost of raising a child to seconda...,the average cost of raising a child to seconda...,"the bulk of the total £83,627-a-year bill come...",348,3
197,197,197,197,thai police investigating the murder of two br...,"pornprasit sukdam claims he was offered £13,30...",a07624a84fe59a3321e83f153d6fd615207a8545,"pornprasit sukdam claims he was offered 700,00...","pornprasit sukdam claims he was offered 700,00...",thai police investigating the murder of two br...,thai police investigating the murder of two br...,a spokesman for the royal thai police confirme...,1166,3
198,198,198,198,from clumpy flat shoes that seem to shorten a ...,clumpy flat shoes that seem to shorten a woman...,e16474b52bbf45f49434fc4a0b1d68e2d3fba3c3,kim carillo says she feels surprisingly sexy i...,"kim carillo, who usually favours a more alluri...",from clumpy flat shoes that seem to shorten a ...,kim carillo tests some of the latest man-repel...,"here, kim carillo, who usually favours a more ...",896,3
199,199,199,199,"for most people, a trip to the shops involves ...",moose spent seven hours dashing through the fi...,6f4bbcea20c6d6132b5d987912e06b5f6099a6ea,runaway elk caught dashing through streets of ...,runaway elk caught dashing through streets of ...,"for most people, a trip to the shops involves ...",two moose captured dashing through the streets...,moose on the loose: a runaway elk was captured...,593,3

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0.2               200 non-null    int64
 1   Unnamed: 0.1               200 non-null    int64
 2   Unnamed: 0                 200 non-null    int64
 3   article                    200 non-null    object
 4   highlights                 200 non-null    object
 5   id                         200 non-null    object
 6   t5_summaries               200 non-null    object
 7   t5_fine_tuned_summaries    200 non-null    object
 8   bart_summaries             200 non-null    object
 9   bart_fine_tuned_summaries  200 non-null    object
 10  pegasus_summaries          200 non-null    object
 11  word_count                 200 non-null    int64
 12  off_the_shelf_results      200 non-null    int64
dtypes: int64(5), object(8)
memory usage: 20.4+ KB

In [57]:
df.describe()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,word_count,off_the_shelf_results
count,200.000000,200.000000,200.000000,200.000000,200.0
mean,99.500000,99.500000,99.500000,735.390000,3.0
std,57.879185,57.879185,57.879185,352.866906,0.0
min,0.000000,0.000000,0.000000,144.000000,3.0
25%,49.750000,49.750000,49.750000,470.750000,3.0
50%,99.500000,99.500000,99.500000,673.000000,3.0
75%,149.250000,149.250000,149.250000,928.250000,3.0
max,199.000000,199.000000,199.000000,1828.000000,3.0

after running function first time, returned all 3s (Pegasus)...

In [62]:
#redefining the function, changing the prompt to test whether doing so changes the llm's choice
def build_comparison_3_prompt(article, summary_1, summary_2, summary_3):
    comparison_prompt = f"""You are an expert evaluator for judging summaries.  You will be given an article and three different summaries.  Your task is to choose which summary is the best.
Article:
{article}

Summary 1:
{summary_1}

Summary 2:
{summary_2}

Summary 3:
{summary_3}

Please respond with the number id surrounded by parenthesis of the summary that best summarized the original article. Start your response with your reasoning for why the selected summary is the best.  
For example, your response should look like:
Reason: Your reason for what makes the chosen summary the best
Choice: (x)

Please provide your response.
Reason: 
"""
    return comparison_prompt

In [63]:
df_mini['order_1_results']=df_mini.apply(evaluate_3_summaries_row_order1, axis=1)
df_mini['order_2_results']=df_mini.apply(evaluate_3_summaries_row_order2, axis=1)
df_mini['order_3_results']=df_mini.apply(evaluate_3_summaries_row_order3, axis=1)
df_mini['order_4_results']=df_mini.apply(evaluate_3_summaries_row_order4, axis=1)
df_mini['order_5_results']=df_mini.apply(evaluate_3_summaries_row_order5, axis=1)
df_mini['order_6_results']=df_mini.apply(evaluate_3_summaries_row_order6, axis=1)

C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_1_results']=df_mini.apply(evaluate_3_summaries_row_order1, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_2_results']=df_mini.apply(evaluate_3_summaries_row_order2, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_3_results']=df_mini.apply(evaluate_3_summaries_row_order3, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_4_results']=df_mini.apply(evaluate_3_summaries_row_order4, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_5_results']=df_mini.apply(evaluate_3_summaries_row_order5, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\39393647.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini['order_6_results']=df_mini.apply(evaluate_3_summaries_row_order6, axis=1)

In [64]:
df_mini

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count,off_the_shelf_results,order_1_results,order_2_results,order_3_results,order_4_results,order_5_results,order_6_results
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376,3,pegasus,bart,t5,pegasus,bart,t5
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113,3,pegasus,bart,t5,pegasus,bart,t5
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339,3,pegasus,bart,t5,pegasus,bart,t5
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843,3,pegasus,bart,t5,pegasus,bart,t5
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352,3,pegasus,bart,t5,pegasus,bart,t5

same results.  LLM chooses last summary each iteration.

In [65]:
df_mini.to_csv('data/data_frame_after_llm_eval.csv')

# Running same experiment with a larger df_mini dataframe (more records)

In [66]:
df_mini_1 = df.head(15)
df_mini_1

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count,off_the_shelf_results
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376,3
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113,3
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339,3
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843,3
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352,3
5,5,5,5,philippe senderos insists switzerland are maki...,defender insists switzerland are confident of ...,63838e0eaac96148cd8b78220fdd21c9d6b2b328,philppe senderos insists switzerland are makin...,philppe senderos insists switzerland are makin...,philippe senderos insists switzerland are maki...,philippe senderos insists switzerland are maki...,focused: philppe senderos says switzerland can...,237,3
6,6,6,6,ahead of this wednesday's uefa champions leagu...,diego costa is fit to face maribor after retur...,1ea5791df11bde43a95bd25551e01b3809ca582c,chelsea face maribor in the champions league o...,diego costa is fit to face maribor after retur...,ahead of this wednesday's uefa champions leagu...,new: maribor beat chelsea 6-0 on saturday .mar...,ahead of this wednesday's uefa champions leagu...,556,3
7,7,7,7,lord turner: 'innovative policies' a row erupt...,lord turner said the bank of england’s controv...,7cfa6b961f29952701e769c79af07e9e466bf7a5,lord turner is a frontrunner to succeed sir me...,"lord turner, a frontrunner to succeed sir merv...",lord turner: 'innovative policies' a row erupt...,bank of england's controversial money printing...,lord turner: 'innovative policies' a row erupt...,832,3
8,8,8,8,david silva is determined to win the champions...,david silva has signed a new five-year deal .s...,eeb2f3a0c31870ffe91586d69f58da8f7ca92f8b,david silva has signed a new five-year deal wi...,david silva agrees new five-year deal with man...,david silva is determined to win the champions...,david silva is determined to win the champions...,david silva is determined to win the champions...,547,3
9,9,9,9,busty glamour model lacey wildd has raised $23...,"the surgery will see lacey wildd, 45, claim ti...",f3d8cbac2637413ad2f3dd472505b6aa0c813c3e,"lacey wildd, 45, from miami, florida, has had ...","lacey wildd, 45, from miami, florida, has had ...",busty glamour model lacey wildd has raised $23...,busty glamour model lacey wildd has raised $23...,busty glamour model lacey wildd has raised $23...,1248,3
10,10,10,10,filter: new bt customers will have to actively...,new customers will have to actively chose to t...,ba787aa117ab5316e0436572d47b48e6fa69ef1b,bt has offered the free parental controls serv...,bt has offered free parental controls service ...,filter: new bt customers will have to actively...,new bt customers will have to actively choose ...,filter: new bt customers will have to actively...,485,3
11,11,11,11,a us air force mom has been charged with attem...,"phoeteama janiece neal, 28, was stationed at l...",20ece6b7902f38a13c60e18f00faed30b3091984,"phoeteama janiece neal, 28, was stationed at l...","phoeteama janiece neal, 28, was stationed at l...",a us air force mom has been charged with attem...,a us air force mom has been charged with attem...,"mugshot: phoeteama janiece neal, was stationed...",296,3
12,12,12,12,when not even the prime minister can afford a ...,the pair had lunch at chequers during burmese ...,c4904fd779d18e728e2c82eca1a9f77fd0462274,aung san suu kyi and samantha cameron visited ...,burmese opposition leader aung san suu kyi is ...,when not even the prime minister can afford a ...,mr cameron is forced to use broken umbrella to...,truly painting a picture of austerity britain ...,992,3
13,13,13,13,four children found after going on the run wit...,"jessica, 14, writes: 'i am not happy at all......",e4e8f37606dc2cd6d4ff4d430f057b04242bb179,"jennifer jones, 45, and her children jessica, ...","jennifer jones, 45, wrote to judge: 'i am not ...",four children found after going on the run wit...,four children found after going on the run wit...,four children found after going on the run wit...,1143,3
14,14,14,14,out of sorts: czech president milos zeman . sc...,footage shows milos zeman clearly the worse fo...,5d04626f2659db75c47ea304fbe58b70e446453c,"czech president milos zeman, 68, has denied be...",footage shows milo zeman propping himself up a...,out of sorts: czech president milos zeman . sc...,new czech president milos zeman denies being d...,the new czech president has denied being drunk...,884,3

In [68]:
df_mini_1['order_1_results']=df_mini_1.apply(evaluate_3_summaries_row_order1, axis=1)
df_mini_1['order_2_results']=df_mini_1.apply(evaluate_3_summaries_row_order2, axis=1)
df_mini_1['order_3_results']=df_mini_1.apply(evaluate_3_summaries_row_order3, axis=1)
df_mini_1['order_4_results']=df_mini_1.apply(evaluate_3_summaries_row_order4, axis=1)
df_mini_1['order_5_results']=df_mini_1.apply(evaluate_3_summaries_row_order5, axis=1)
df_mini_1['order_6_results']=df_mini_1.apply(evaluate_3_summaries_row_order6, axis=1)
df_mini_1

C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\2014777359.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini_1['order_1_results']=df_mini_1.apply(evaluate_3_summaries_row_order1, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\2014777359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini_1['order_2_results']=df_mini_1.apply(evaluate_3_summaries_row_order2, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\2014777359.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini_1['order_3_results']=df_mini_1.apply(evaluate_3_summaries_row_order3, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\2014777359.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini_1['order_4_results']=df_mini_1.apply(evaluate_3_summaries_row_order4, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\2014777359.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini_1['order_5_results']=df_mini_1.apply(evaluate_3_summaries_row_order5, axis=1)
C:\Users\livelab\AppData\Local\Temp\ipykernel_4884\2014777359.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mini_1['order_6_results']=df_mini_1.apply(evaluate_3_summaries_row_order6, axis=1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,article,highlights,id,t5_summaries,t5_fine_tuned_summaries,bart_summaries,bart_fine_tuned_summaries,pegasus_summaries,word_count,off_the_shelf_results,order_1_results,order_2_results,order_3_results,order_4_results,order_5_results,order_6_results
0,0,0,0,manchester united have fallen off their perch....,manchester united were beaten 2-0 in their cha...,5b3a626078390cb0e05327b4019753fd11cb8cea,manchester united lost 1-0 to olympiacos in th...,manchester united lost 1-0 to olympiacos in th...,manchester united have fallen off their perch....,manchester united have fallen off their perch....,whether we are talking about the events of wed...,1376,3,pegasus,bart,t5,pegasus,bart,t5
1,1,1,1,a mother whose russian husband snatched their ...,"rachael neustadt's sons - daniel, eight and jo...",59d478d4a4299e2192997e56a9db9003fa2bac2d,"rachael neustadt's sons daniel, eight, and jon...","rachael neustadt's sons daniel, eight, and jon...",a mother whose russian husband snatched their ...,rachael neustadt and her two sons were freed i...,a mother whose russian husband snatched their ...,1113,3,pegasus,bart,t5,pegasus,bart,t5
2,2,2,2,claim: supporters of mayor lutfur rahman alleg...,islamic voters allegedly told to be 'good musl...,ec961b7d0912e7753dffe4360b77481eba96f2e1,supporters of mayor lutfur rahman allegedly ha...,supporters of mayor lutfur rahman allegedly ha...,claim: supporters of mayor lutfur rahman alleg...,claim: supporters of mayor lutfur rahman hande...,a petition brought before the high court claim...,339,3,pegasus,bart,t5,pegasus,bart,t5
3,3,3,3,the 15-year-old cousin of a palestinian boy wh...,"mohammed abu khder, 16, abducted and burned to...",092d90d61eb105b3955820cc4894ac2c4995ad1b,"mohammed abu khder, 16, was abducted from his ...","mohammed abu khder, 16, was burned to death in...",the 15-year-old cousin of a palestinian boy wh...,cousin of palestinian boy burned to death in i...,the 15-year-old cousin of a palestinian boy wh...,843,3,pegasus,bart,t5,pegasus,bart,t5
4,4,4,4,it may have made its way up the pole to become...,spearmint rhino records £2.1m loss in 2011 .lo...,d0d59018cdf48aaeb6e1838c0323f8555e800765,spearmint rhino has recorded a loss of £2.1mil...,spearmint rhino has recorded a loss of £2.1m i...,it may have made its way up the pole to become...,spearmint rhino has filed accounts showing tha...,"despite the losses, spearmint rhino says it ha...",352,3,pegasus,bart,t5,pegasus,bart,t5
5,5,5,5,philippe senderos insists switzerland are maki...,defender insists switzerland are confident of ...,63838e0eaac96148cd8b78220fdd21c9d6b2b328,philppe senderos insists switzerland are makin...,philppe senderos insists switzerland are makin...,philippe senderos insists switzerland are maki...,philippe senderos insists switzerland are maki...,focused: philppe senderos says switzerland can...,237,3,pegasus,bart,t5,pegasus,bart,t5
6,6,6,6,ahead of this wednesday's uefa champions leagu...,diego costa is fit to face maribor after retur...,1ea5791df11bde43a95bd25551e01b3809ca582c,chelsea face maribor in the champions league o...,diego costa is fit to face maribor after retur...,ahead of this wednesday's uefa champions leagu...,new: maribor beat chelsea 6-0 on saturday .mar...,ahead of this wednesday's uefa champions leagu...,556,3,pegasus,bart,t5,pegasus,bart,t5
7,7,7,7,lord turner: 'innovative policies' a row erupt...,lord turner said the bank of england’s controv...,7cfa6b961f29952701e769c79af07e9e466bf7a5,lord turner is a frontrunner to succeed sir me...,"lord turner, a frontrunner to succeed sir merv...",lord turner: 'innovative policies' a row erupt...,bank of england's controversial money printing...,lord turner: 'innovative policies' a row erupt...,832,3,pegasus,bart,t5,pegasus,bart,t5
8,8,8,8,david silva is determined to win the champions...,david silva has signed a new five-year deal .s...,eeb2f3a0c31870ffe91586d69f58da8f7ca92f8b,david silva has signed a new five-year deal wi...,david silva agrees new five-year deal with man...,david silva is determined to win the champions...,david silva is determined to win the champions...,david silva is determined to win the champions...,547,3,pegasus,bart,t5,pegasus,bart,t5
9,9,9,9,busty glamour model lacey wildd has raised $23...,"the surgery will see lacey wildd, 45, claim ti...",f3d8cbac2637413ad2f3dd472505b6aa0c813c3e,"lacey wildd, 45, from miami, florida, has had ...","lacey wildd, 45, from miami, florida, has had ...",busty glamour model lacey wildd has raised $23...,busty glamour model lacey wildd has raised $23...,busty glamour model lacey wildd has raised $23...,1248,3,pegasus,bart,t5,pegasus,bart,t5
10,10,10,10,filter: new bt customers will have to actively...,new customers will have to actively chose to t...,ba787aa117ab5316e0436572d47b48e6fa69ef1b,bt has offered the free parental controls serv...,bt has offered free parental controls service ...,filter: new bt customers will have to actively...,new bt customers will have to actively choose ...,filter: new bt customers will have to actively...,485,3,pegasus,bart,t5,pegasus,bart,t5
11,11,11,11,a us air force mom has been charged with attem...,"phoeteama janiece neal, 28, was stationed at l...",20ece6b7902f38a13c60e18f00faed30b3091984,"phoeteama janiece neal, 28, was stationed at l...","phoeteama janiece neal, 28, was stationed at l...",a us air force mom has been charged with attem...,a us air force mom has been charged with attem...,"mugshot: phoeteama janiece neal, was stationed...",296,3,pegasus,bart,t5,pegasus,bart,t5
12,12,12,12,when not even the prime minister can afford a ...,the pair had lunch at chequers during burmese ...,c4904fd779d18e728e2c82eca1a9f77fd0462274,aung san suu kyi and samantha cameron visited ...,burmese opposition leader aung san suu kyi is ...,when not even the prime minister can afford a ...,mr cameron is forced to use broken umbrella to...,truly painting a picture of austerity britain ...,992,3,pegasus,bart,t5,pegasus,bart,t5
13,13,13,13,four children found after going on the run wit...,"jessica, 14, writes: 'i am not happy at all......",e4e8f37606dc2cd6d4ff4d430f057b04242bb179,"jennifer jones, 45, and her children jessica, ...","jennifer jones, 45, wrote to judge: 'i am not ...",four children found after going on the run wit...,four children found after going on the run wit...,four children found after going on the run wit...,1143,3,pegasus,bart,t5,pegasus,bart,t5
14,14,14,14,out of sorts: czech president milos zeman . sc...,footage shows milos zeman clearly the worse fo...,5d04626f2659db75c47ea304fbe58b70e446453c,"czech president milos zeman, 68, has denied be...",footage shows milo zeman propping himself up a...,out of sorts: czech president milos zeman . sc...,new czech president milos zeman denies being d...,the new czech president has denied being drunk...,884,3,pegasus,bart,t5,pegasus,bart,t5

In [69]:
df_mini_1.to_csv('data/data_frame_after_llm_eval.csv')

notes:
* mix up order of articles - recency bias avoidance - mixing up the order to give it different orders of summaries. Research shows there is a tendency to choose the most recent text.
* Max context window of llama2-70b
* It's a completions model that is completing my text, not completing a task, most common task is to continue the instructions
* We can get around it by prompting in a certain way. so we pretend we are the AI model, and start it's response for it.
* difficult to constrain the response of an LLM.  It's giving us a number, but not giving us a number every time.
* Will have to build that into our evaluation loop.
* add in redundancy, we don't know why LLM chooses things.  Goal would be post-processing, run it several times, identify if we see a trend.
* We saw exact correlation that llm always picked the last summary.  Solution - add more info in prompt to start with "explain your answer"